drone command link/node-red-command-button.conf
[
  {
    "id": "tab1",
    "type": "tab",
    "label": "Drone Control",
    "disabled": false,
    "info": ""
  },
  {
    "id": "ui_base",
    "type": "ui_base",
    "theme": {
      "name": "theme-dark",
      "lightTheme": {"default":"default"},
      "darkTheme": {"default":"default"}
    },
    "site": {
      "name": "Drone Command & Control"
    }
  },
  {
    "id": "ui_tab",
    "type": "ui_tab",
    "name": "Control Panel",
    "icon": "dashboard",
    "order": 1
  },
  {
    "id": "ui_group_auth",
    "type": "ui_group",
    "name": "Login",
    "tab": "ui_tab",
    "order": 1,
    "disp": true,
    "width": "6",
    "collapse": false
  },
  {
    "id": "ui_group_commands",
    "type": "ui_group",
    "name": "Commands",
    "tab": "ui_tab",
    "order": 2,
    "disp": true,
    "width": "12",
    "collapse": false
  },
  {
    "id": "ui_group_status",
    "type": "ui_group",
    "name": "Status",
    "tab": "ui_tab",
    "order": 3,
    "disp": true,
    "width": "12",
    "collapse": false
  },
  {
    "id": "login_ui",
    "type": "ui_form",
    "z": "tab1",
    "name": "Login Form",
    "group": "ui_group_auth",
    "order": 1,
    "width": "6",
    "height": "3",
    "options": [
      {"label":"Email","value":"email","type":"email","required":true,"placeholder":"operator@example.com"},
      {"label":"Password","value":"password","type":"password","required":true}
    ],
    "formValue": {"email":"","password":""},
    "payload": "",
    "submit": "Login",
    "cancel": "",
    "topic": "login",
    "topicType": "str",
    "splitLayout": false,
    "wires": [["auth_function"]]
  },
  {
    "id": "auth_function",
    "type": "function",
    "z": "tab1",
    "name": "Cognito Auth",
    "func": "const config = global.get('config');\nconst AWS = global.get('AWS');\n\nconst cognito = new AWS.CognitoIdentityServiceProvider({region: config.region});\n\nconst params = {\n    AuthFlow: 'USER_PASSWORD_AUTH',\n    ClientId: config.cognitoClientId,\n    AuthParameters: {\n        USERNAME: msg.payload.email,\n        PASSWORD: msg.payload.password\n    }\n};\n\ncognito.initiateAuth(params, (err, data) => {\n    if (err) {\n        node.warn('Auth failed: ' + err.message);\n        msg.payload = {error: 'Login failed: ' + err.message};\n        node.send([null, msg]);\n    } else {\n        global.set('token', data.AuthenticationResult.IdToken);\n        global.set('user', msg.payload.email);\n        msg.payload = {success: true, user: msg.payload.email};\n        node.send([msg, null]);\n    }\n});\n\nreturn null;",
    "outputs": 2,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "wires": [["login_success"], ["login_error"]]
  },
  {
    "id": "login_success",
    "type": "ui_toast",
    "z": "tab1",
    "position": "top right",
    "displayTime": "3",
    "highlight": "",
    "sendall": true,
    "outputs": 0,
    "ok": "OK",
    "cancel": "",
    "raw": false,
    "topic": "",
    "name": "Login Success",
    "x": 630,
    "y": 120,
    "wires": []
  },
  {
    "id": "login_error",
    "type": "ui_toast",
    "z": "tab1",
    "position": "top right",
    "displayTime": "3",
    "highlight": "",
    "sendall": true,
    "outputs": 0,
    "ok": "OK",
    "cancel": "",
    "raw": false,
    "topic": "",
    "name": "Login Error",
    "x": 630,
    "y": 180,
    "wires": []
  },
  {
    "id": "rtl_button",
    "type": "ui_button",
    "z": "tab1",
    "name": "RTL",
    "group": "ui_group_commands",
    "order": 1,
    "width": "3",
    "height": "2",
    "passthru": false,
    "label": "Return to Launch",
    "tooltip": "",
    "color": "white",
    "bgcolor": "orange",
    "icon": "home",
    "payload": "{\"cmd\":\"RTL\",\"drone_id\":\"drone_001\",\"params\":{}}",
    "payloadType": "json",
    "topic": "command",
    "topicType": "str",
    "wires": [["send_command"]]
  },
  {
    "id": "land_button",
    "type": "ui_button",
    "z": "tab1",
    "name": "LAND",
    "group": "ui_group_commands",
    "order": 2,
    "width": "3",
    "height": "2",
    "passthru": false,
    "label": "Land Now",
    "tooltip": "",
    "color": "white",
    "bgcolor": "red",
    "icon": "arrow_downward",
    "payload": "{\"cmd\":\"LAND\",\"drone_id\":\"drone_001\",\"params\":{}}",
    "payloadType": "json",
    "topic": "command",
    "topicType": "str",
    "wires": [["send_command"]]
  },
  {
    "id": "loiter_button",
    "type": "ui_button",
    "z": "tab1",
    "name": "LOITER",
    "group": "ui_group_commands",
    "order": 3,
    "width": "3",
    "height": "2",
    "passthru": false,
    "label": "Hold Position",
    "tooltip": "",
    "color": "white",
    "bgcolor": "blue",
    "icon": "pause_circle_outline",
    "payload": "{\"cmd\":\"LOITER\",\"drone_id\":\"drone_001\",\"params\":{}}",
    "payloadType": "json",
    "topic": "command",
    "topicType": "str",
    "wires": [["send_command"]]
  },
  {
    "id": "arm_button",
    "type": "ui_button",
    "z": "tab1",
    "name": "ARM",
    "group": "ui_group_commands",
    "order": 4,
    "width": "3",
    "height": "2",
    "passthru": false,
    "label": "Arm Motors",
    "tooltip": "",
    "color": "white",
    "bgcolor": "green",
    "icon": "power_settings_new",
    "payload": "{\"cmd\":\"ARM\",\"drone_id\":\"drone_001\",\"params\":{}}",
    "payloadType": "json",
    "topic": "command",
    "topicType": "str",
    "wires": [["send_command"]]
  },
  {
    "id": "send_command",
    "type": "function",
    "z": "tab1",
    "name": "Prepare Request",
    "func": "const config = global.get('config');\nconst token = global.get('token');\n\nif (!token) {\n    msg.payload = {error: 'Not logged in'};\n    return [null, msg];\n}\n\nmsg.url = config.apiUrl;\nmsg.method = 'POST';\nmsg.headers = {\n    'Authorization': 'Bearer ' + token,\n    'Content-Type': 'application/json'\n};\n\nreturn [msg, null];",
    "outputs": 2,
    "noerr": 0,
    "wires": [["http_request"], ["command_error"]]
  },
  {
    "id": "http_request",
    "type": "http request",
    "z": "tab1",
    "name": "Call API",
    "method": "use",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "wires": [["command_response"]]
  },
  {
    "id": "command_response",
    "type": "function",
    "z": "tab1",
    "name": "Parse Response",
    "func": "if (msg.payload.cmd_id) {\n    msg.payload = {\n        text: `Command ${msg.payload.cmd_id} submitted: ${msg.payload.status}`,\n        cmd_id: msg.payload.cmd_id\n    };\n    return [msg, null];\n} else {\n    msg.payload = {error: 'Command failed'};\n    return [null, msg];\n}",
    "outputs": 2,
    "wires": [["command_success"], ["command_error"]]
  },
  {
    "id": "command_success",
    "type": "ui_toast",
    "z": "tab1",
    "position": "top right",
    "displayTime": "3",
    "highlight": "",
    "sendall": true,
    "outputs": 1,
    "ok": "OK",
    "cancel": "",
    "raw": false,
    "topic": "",
    "name": "Command Sent",
    "wires": [["refresh_status"]]
  },
  {
    "id": "command_error",
    "type": "ui_toast",
    "z": "tab1",
    "position": "top right",
    "displayTime": "3",
    "highlight": "",
    "sendall": true,
    "outputs": 0,
    "ok": "OK",
    "cancel": "",
    "raw": false,
    "topic": "",
    "name": "Command Error",
    "wires": []
  },
  {
    "id": "status_inject",
    "type": "inject",
    "z": "tab1",
    "name": "Poll every 5s",
    "props": [],
    "repeat": "5",
    "crontab": "",
    "once": true,
    "onceDelay": "2",
    "topic": "",
    "wires": [["get_status"]]
  },
  {
    "id": "refresh_status",
    "type": "function",
    "z": "tab1",
    "name": "Trigger Refresh",
    "func": "return msg;",
    "wires": [["get_status"]]
  },
  {
    "id": "get_status",
    "type": "function",
    "z": "tab1",
    "name": "Prepare Status Request",
    "func": "const config = global.get('config');\nconst token = global.get('token');\n\nif (!token) {\n    return null;\n}\n\nmsg.url = config.apiUrl + '?drone_id=drone_001&limit=20';\nmsg.method = 'GET';\nmsg.headers = {\n    'Authorization': 'Bearer ' + token\n};\n\nreturn msg;",
    "wires": [["http_get_status"]]
  },
  {
    "id": "http_get_status",
    "type": "http request",
    "z": "tab1",
    "name": "Get Status",
    "method": "use",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "wires": [["format_table"]]
  },
  {
    "id": "format_table",
    "type": "function",
    "z": "tab1",
    "name": "Format for Table",
    "func": "if (msg.payload.commands) {\n    msg.payload = msg.payload.commands.map(cmd => ({\n        cmd_id: cmd.cmd_id.substring(0, 8) + '...',\n        cmd: cmd.cmd,\n        status: cmd.status,\n        created_at: new Date(cmd.created_at).toLocaleString(),\n        updated_at: cmd.updated_at ? new Date(cmd.updated_at).toLocaleString() : 'N/A'\n    }));\n}\nreturn msg;",
    "wires": [["status_table"]]
  },
  {
    "id": "status_table",
    "type": "ui_table",
    "z": "tab1",
    "group": "ui_group_status",
    "name": "Command History",
    "order": 1,
    "width": "12",
    "height": "6",
    "columns": [],
    "outputs": 0,
    "cts": false,
    "wires": []
  }
]